


/* photo album */

#album-container {
    overflow-x: auto;
}

.album-card {
    width: 300px;
}


.thumbnail .image-container {
    height: 250px;
}
.thumbnail .image-container img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}