


/* photo album */

#album-container {
    overflow-x: auto;
}

.album-card {
    width: 300px;
}


.thumbnail .image-container {
    height: 250px;
}
.thumbnail .image-container img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.ck-content {
    min-height: 500px !important;
}
/* Adjust indentation for lists */
.ck-content ul,
.ck-content ol {
    margin-left: 20px; /* Adjust the value as needed */
}
